.item {
    margin-bottom: 12px;
}

.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    width: 447px;
}

.image {
    width: 51px;
    height: 51px;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
}

.svg {
    width: 18px;
    height: 17px;
    stroke: #4e4e4e;
    fill: transparent;
}

.name {
    color: #fff;
    font-size: 16px;
}

.author {
    width: 321px;
    color: #fff;
}

.album {
    width: 245px;
    color: #696969;
}

.time {
    width: 60px;
    text-align: right;
    color: #696969;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #B672FF;
}

.pulse {
    animation: pulse 1.2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.6);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

