* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a, button, input {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

li, ul {
    list-style: none;
}

